untested code
only one guy knows how the code works
missing unit tests
working alone
conflicts with standards
blaming people
using emails and Jira to do conversations
keeping knowledge on your own mind
waiting for the tasks to be assigned to you
being unrespectful and not nice
any kind of harassment
not interested in improving domain knowledge
not asking for help
not willing to help and support people
not interested in refactoring existing code

